server:
  port: 8085
  servlet:
    context-path: /

spring:
  application:
    name: veterinary-system
  
  # Thymeleaf configuration
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
    encoding: UTF-8
    mode: HTML
  

  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI:${MONGODB_URI:mongodb+srv://johnsbeltran9_db_user:aD1SY8lkiovIVkEj@cluster0.e06kh77.mongodb.net/VeterinariaAnimalCare?retryWrites=true&w=majority}}
      auto-index-creation: true


# Logging configuration
logging:
  level:
    com.veterinary: DEBUG
    org.springframework.web: INFO
    org.hibernate: WARN
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

# Management endpoints
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
